.jumbotron, .card {
    /* box-shadow: 0px 4px 6px slategray; */
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.75);

}

td, th {
    text-align: center;
}

body {
    /* background-color: rgba(216, 216, 216, 0.50); */
    background-color: rgb(47, 58, 87)
}

.clock {
    float: right;
    font-size: 50px;
    /* color: rgba(76, 159, 187, 0.75); */
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    /* background-color: rgba(56, 46, 32, 0.6); */
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    border-bottom: 1px solid rgba(27, 17, 8, 0.781);
    
}

.card {
    margin: 20px 7px 5px 7px;
    border: white 1px solid;
    border-radius: 10px;
}

.col-md-8 {
    padding: 0px 0px;
    margin-bottom: 10px;
}

.col-md-4 {
    /* margin: 0px 15px 0px 15px; */
    padding: 0px;
}



.jumbotron h1 {
    /* font-family: 'Roboto', sans-serif; */
    color: white;
    font-size: 100px;
    line-height: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.jumbotron {
    /* background-color: #006dcc; */
    /* margin: 0px 10px 20px 10px; */
    /* background: none; */
    background: url("../images/train3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 40px 200px 40px;
    margin: 0px;
}

.jumbotron h3 {
    font-size: 26px;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-left: 3px;

}

.card-header {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px !important;
    border:white 1px solid;
    
    color:  rgb(17, 91, 114);

}

tr:nth-child(even) {
    /* background-color: rgba(173, 216, 230, 0.50); */
    background-color: rgb(255, 234, 140, 0.80);
}

th, td, label, input {
    /* font-family: 'Monserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
}

label {
    font-weight: bold;
}

th, tr {
    border: none !important;
}

tr:hover {
    background-color: gold !important;
}

.tr-head:hover {
    background-color: white !important;
}




.form-control {
    background-color: rgba(173, 216, 230, 0.50);
}

.row {
    margin-top: -100px;
    margin-left: 20px;
    margin-right: 20px;
}

.btn {
    background-color: rgb(17, 91, 114);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;

}

#footer {
    background-color: black;
    height: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 40px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

@media screen and (max-width: 800px) {
    .jumbotron h1 {
        font-size: 75px;
        line-height: 70px;
        
    }

    .jumbotron h3 {
        font-size: 20px;
    }

    .jumbotron {
        padding: 20px 20px 150px 20px;
    }
    .clock {
        font-size: 35px;
        margin-left:50px;
    }

}

@media screen and (max-width: 500px) {
    .card {
        margin: 10px 0px 5px 0px !important;
        border: white 1px solid;
        border-radius: 10px;
    }
    .row {
        margin: -40px 3px 5px 3px !important;

    }

    .clock {
        font-size: 30px;
    }

    .card-header {
        background-color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 25px;
        font-weight: bold;
        border-radius: 10px !important;
        border:white 1px solid;
        
        color:  rgb(17, 91, 114);
    
    }

    th, td, tr, label, input {
        font-size: 12px !important;
    }

    .jumbotron h1 {
        font-size: 75px;
        line-height: 70px;
        
    }

    .jumbotron h3 {
        font-size: 15px;
    }

    .jumbotron {
        padding: 20px 20px 60px 20px;
    }
  }

@media screen and (max-width: 360px) {
    

    .clock {
        font-size: 25px;
    }

    

    th, td, tr, label, input {
        font-size: 11px !important;
    }

    .jumbotron h1 {
        font-size: 65px;
        line-height: 60px;
        
    }

    .jumbotron h3 {
        font-size: 20px;
    }

    .jumbotron {
        padding: 20px 20px 45px 20px;
    }

    .card-header {
        font-size: 20px;
    }
  }




