.jumbotron, .col-md-12 {
    box-shadow: 0px 4px 6px slategray; 
}

td, th {
    text-align: center;
}

.clock {
    float: right;
    font-size: 50px;
    color: lightblue;
}





.col-md-12 {
    padding: 0px 0px;
    margin-bottom: 12px;
}

.jumbotron h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 100px;
    line-height: 90px;

}

.jumbotron {
    background-color: #006dcc;
}

.jumbotron h3 {
    font-size: 26px;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-left: 3px;

}

.card-header {
    background-color: #006dcc;
    font-family: 'Raleway', sans-serif;
    color: white;

}

